.container {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .adding{
            background-color: rgb(232, 230, 250);;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin-top: 20px;}

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .submit-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .submit-button:hover {
            background-color: #45a049;
        }

        .edit{
            margin-left: 900px;
          margin-top: 10px;
          padding: 10px 20px;
          background: #df2e02;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .delete{
        margin-left: 10px;
            margin-top: 10px;
            padding: 10px 50px;
            background: #df2e02;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .edit:hover,
        .delete:hover{
        background: #b73101;
        }