body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
}

.container {
    text-align: center;
}

.registration-form {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.entered-values{
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#button {
	margin-top: 10px;
    padding: 10px 20px;
    background: #df2e02;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover {
    background: #b73101;
}

.registration-link {
    color: #555; /* Темносерый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888; /* Тень */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Плавные переходы */

}

.registration-link:hover {
    background-color: #eee; /* Цвет фона при наведении */
    color: #333; /* Цвет текста при наведении */
    box-shadow: 2px 2px 10px #888; /* Увеличенная тень при наведении */
}


